[submodule "RTH/Plugins/spdlog"]
	path = RTH/Plugins/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "RTH/Plugins/GLFW"]
	path = RTH/Plugins/GLFW
	url = https://github.com/iamRaavanan/glfw
[submodule "RTH/Plugins/imgui"]
	path = RTH/Plugins/imgui
	url = https://github.com/iamRaavanan/imgui
